:root{ scrollbar-color: rgb(210,210,210) transparent; scrollbar-width: thin }

body{ background: rgb(50,54,68); color: rgb(210,210,200); font-family: segoe UI }


body > div{ background: rgba(0,0,0,0.2); border-radius: 6px; box-shadow: inset 0 0 4px 2px grey; padding: 8px }

a{ color:coral }
a:visited{ color:orchid }
a:hover{ color: orange }

a + span{ color: darkseagreen }
.logline{ padding: 2px 3px }
.logline.even{ background: rgba(255,255,255,0.1) }

#infobar::after{ content:":" }

#infobar:not(:empty)::before{ content: " in " }

div > span{ padding-inline-start: 2ch }

@keyframes anim{
  0%{ transform: scale(1) }
  10%{ transform: scale(0.6) }
  15%{ transform: scale(1.3) }
  45%{ transform: scale(0.8) }
  80%{ transform: scale(1.1) }
}

#bugList.busy::before{ 
  content: "";
  display: block;
  height: 60px;
  width: 60px;
  margin: auto;
  background-image: radial-gradient(transparent 30%,white 40%,transparent 50%);
  animation: anim 2500ms infinite;
}