:root{ color: rgb(50,54,68); scrollbar-color: currentColor transparent; scrollbar-width: thin }

body{ background: rgb(230,234,240);  font-family: segoe UI; overflow-wrap: break-word; max-width: 110ch }
body > div{ background: rgba(0,0,0,0.1); border-radius: 6px; box-shadow: inset 0 0 4px 2px grey; padding: 8px }

a:hover{ color: purple }
a + span{ color: darkgreen; }

.logline.even{ background: rgba(70,60,70,0.1) }

@media (prefers-color-scheme:dark){
  :root{ color: rgb(220,220,200); }
  body{ background: rgb(50,54,68); }
  
  a{ color:coral }
  a:visited{ color:orchid }
  a:hover{ color: orange }
  a + span{ color: darkseagreen }
  
  body > div{ background: rgba(0,0,0,0.2) }
  .logline.even{ background: rgba(170,160,170,0.1) }
  
}

.logline{ padding: 2px 3px }


#infobar::after{ content:":" }

#infobar:not(:empty)::before{ content: " in " }

div > span{ padding-inline-start: 2ch }

@keyframes anim{
  0%{ transform: scale(1) }
  10%{ transform: scale(0.6) }
  15%{ transform: scale(1.3) }
  45%{ transform: scale(0.8) }
  80%{ transform: scale(1.1) }
}

#bugList.busy::before{ 
  content: "";
  display: block;
  height: 60px;
  width: 60px;
  margin: auto;
  background-image: radial-gradient(transparent 30%,white 40%,transparent 50%);
  animation: anim 2500ms infinite;
}